$backgroundColor: #548abc71;
$backgroundAuxColor: #e5e5f7;
$mainColor: rgb(25, 42, 66);
$auxColor: rgb(38, 60, 92);
$containerColor: rgb(43, 85, 148);

$small: 600px;
$medium: 900px;
$large: 1200px;
$xlarge: 1500px;
